@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

*,
*::before,
*::after {
  margin: .1rem;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
input{
    margin: .2rem auto;
  display: block;
  height: 2rem;
  text-align: center;
  border-radius: 0.6rem;
  width: 15rem;
  border: solid whitesmoke 2px;
}
label {
  display: block;
  margin: 0.5rem;
}

.container {
  padding: 2rem;
  background-color: #615e5d;
  color: aliceblue;
  font-size: 1.2rem;
  border-radius: .5rem;
}
h1 {
  color: #f1c40f;
  margin: 1.2rem 0;
}

    #submit-btn{
        margin: 2rem auto;
        display: block;
        height: 2.5rem;
        text-align: center;
        border-radius: 0.8rem;
        width: 7rem;
        border: solid whitesmoke 2px;
        font-size: large;
        background-color:#615e5d ;
        
    
    }
#output-box {
  display: block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: #ecf0f1;
}